body {
    margin: 0;
    touch-action: manipulation;
}
  
.group {
    display: flex; /* Grouping items horizontally */
    flex-direction: flex;
    margin-top: 5px;
    gap: 5x; /* Spacing between items */
    padding: 20px;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 5px;
}

#managerUI{
    padding-left: 17%;
}

.passwordbox {
    display: flex;
    padding: 5px;
    border: 2px solid #2b1010;
    gap: 7px;
    height: 40px;
    align-items: center;
    display: auto;
}

.passwordbutton {
    cursor: pointer;
    outline: 1px;
    padding: auto;
    background-color: #b9b6b6;
    width: 50px;
    height: 20px;
    color: #000000;
    outline: #2b1010;
    text-align: center;
}

#loginBox{
    border: 1px solid rgba(34, 36, 38, .15);    
    margin-top: 50px;
    width: 75%;
    padding: 20px 0 20px 30px;
}

#loginButton{
    background-color: rgba(0, 0, 0, .100);
    border-color: rgb(0, 0, 0, );
    width: auto;
    min-width: 100px;
    font-size: 30px;
    height: auto;
    border-width: 1px;
}

#passwordBox{
    display: flex;
    height: 50px;
    width: 50px;
}

#passwordInput{
    border-color: rgb(0, 0, 0, .200) ;
    height: auto;
    width: auto;
    font-size: 20px;
}

.passwordbutton:hover {
    background-color: #8a8787;
    color: black;
}
  
.item {
    padding: 50px 50px;
    background-color: #4caf50;
    color: white;
    border-radius: 5px;
    text-align: center;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
.topnav a.active {
    background-color: #86aa04;
    color: white;
}

  