body {
    margin: 0;
}
  
.group {
    display: flex;
    flex-direction: flex;
    margin-top: 5px;
    gap: 20px;
    padding: 5px;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.addmoreButton {
    margin: 5px;
    margin-left: 10px;
    background-color: #86aa04;
}

.addmoreButton:hover {
    background-color: #1e8623;
}

.passwordbox {
    display: flex;
    padding: 5px;
    border: 2px solid #2b1010;
    gap: 7px;
    height: 40px;
    align-items: center;
    display: auto;
}

.itembox {
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
    display: none;
}

.itemsections {
    gap: 20px;
    border: #333;
    align-items: center;
}

.passwordbutton {
    cursor: pointer;
    outline: 1px;
    padding: auto;
    background-color: #b9b6b6;
    width: 80px;
    height: 20px;
    color: #000000;
    outline: #2b1010;
    text-align: center;
}

.RemoveButton {
    cursor: pointer;
    outline: 1px;
    padding: auto;
    background-color: #b9b6b6;
    height: 20px;
    color: #000000;
    outline: #2b1010;
    text-align: center;
}

.RemoveButton:hover {
    background-color: #df0c0c;
    color: #000000;
}

.passwordbutton:hover {
    background-color: #8a8787;
    color: black;
}
  
.item {
    padding: 50px 50px;
    background-color: #4caf50;
    color: white;
    border-radius: 5px;
    text-align: center;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
.topnav a.active {
    background-color: #86aa04;
    color: white;
}

#VBox {
    display: none;
    flex-direction: column;
    gap: 1px;
}
.AddButton {
    display: none;
}
  
#OrderList{
    display: none;
    flex-direction: column;
}

.OrderListBtn{
    background-color: #a0cea2;
}
